body
{
  height: 100vh;
  background-color: aquamarine;
}

h1
{
  font-size: 60px;
  text-align: center;
}

p
{
  font-size: 40px;
  text-align: center;
  display: none;
}

@media screen and (min-width: 0px)
{
  body
  {
    background-color: crimson;
  }
  .mobile
  {
    display: block;
  }
}

@media screen and (min-width: 425px) {
  body
  {
    background-color: aqua;
  }
  .mobile
  {
    display: none;
  }
  .tablet
  {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  body
  {
    background-color: darkgoldenrod;
  }
  .mobile
  {
    display: none;
  }
  .tablet
  {
    display: none;
  }
  .laptop
  {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  body
  {
    background-color: forestgreen;
  }
  .mobile
  {
    display: none;
  }
  .tablet
  {
    display: none;
  }
  .laptop
  {
    display: none;
  }
  .laptop_large
  {
    display: block;
  }
}